<h1>Posts</h1>

<div>
  Create
  <%= link_to "New Post", new_post_path %>
</div>

<% if @posts.empty? %>
  <p>No posts yet</p>
<% else %>
  <ul>
    <% @posts.each do |post| %>
      <dt><%= post.title %></dt>
      <dd><%= post.content %></dd>
    <% end %>
  </ul>
<% end %>