<h1> <%= @user.username %>'s events</h1>

<div class="created-events">
  <h2>Created:</h2>
  <% unless @user_events.empty? %>
    <ul class="events_container">
      <% @user_events.each do |e|%>
        <li><%= link_to e.title, e %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No created events.</p>
  <% end %>
</div>

<div class="attended-events">
  <% unless @past_events.empty? %>
    <div class="past-events-container">
      <h3>Events you've attended:</h3>
      <ul>
        <% @past_events.each do |e|%>
          <li><%= link_to e.title, e %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @future_events.empty? %>
    <div class="future-events-container">
      <h3>Attending:</h3>
      <ul>
        <% @future_events.each do |e|%>
          <li><%= link_to e.title, e %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <p>No events attending.</p>
  <% end %>
</div>