<h1>Events</h1>

<% if @events.empty? %>
  <p>No events yet.</p>
<% else %>
  <ul>
    <% @events.each do |event| %>
      <li><%= link_to event.title, event %></li>
    <% end %>
  </ul>
<% end %>

<% unless user_signed_in? %>
  <%= link_to "Log In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>